body {
    background-color: rgb(163, 241, 175)
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121f0cab;
    display: list-item;
}

li {
    float: left;
    padding-right: 25px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #121f0cd5;
    font-weight: bold;
}
