{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group w-50">
                <legend class="border-bottom mb-4">{{legend}}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.ingredients.label(class="form-control-label") }}
                        {% for ingredient in form.ingredients %}
                            {% if ingredient.errors %}
                            <table class="table table-sm table-striped w-50">
                                {% for field in ingredient %}
                                    <tr>
                                        <th>{{field.label}}</th>
                                        <td>{{ field(class="form-control form-control-lg is-invalid") }}
                                            <div class="invalid-feedback m-0 p-0">
                                                {% for error in field.errors %}
                                                    <span>{{ error }}</span>
                                                {% endfor %}
                                            </div>
                                        </td>

                                    </tr>
                                {% endfor %}
                            </table>
                            {% else %}
                                {{ ingredient(class="table table-sm table-striped w-50") }}
                            {% endif %}
                        {% endfor %}
                </div>
                <input class="btn btn-info mb-3" type="button" value="Add Ingredient" id="addIngredient"/>
                <div class="form-group">
                    {{ form.picture.label() }}
                    {{ form.picture(class="form-control-file") }}
                    {% if form.picture.errors %}
                        {% for error in form.picture.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}