{% extends "layout.html" %}
{% block content %}
	<div class="row">
    {% for recipe in recipes %}
        	<div class = "col-sm-12 col-md-6 col-lg-4" width = "200px">
				<div class = "card">          		
					<div class = "card-title">{{ recipe.title }}</div>
					<a href="{{url_for('recipe', recipe_id = recipe.recipe_id)}}"">
						<img class ="card-img-top"
							height = "150px"
							alt="{{ recipe.title }}"
							src= "{{url_for('getRecipeImage', img_id=recipe.img_id)}}">
					</a>
				</div>
        	</div>
	{% endfor %}
	</div>
{% endblock content %}	