<!DOCTYPE html>
<html>
    <head>  
        <title>Ucuz Pişir</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
        <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
        {% if title %}<title>Ucuzpisir - {{ title }}</title>
        {% else %}<title>Ucuzpisir</title>{% endif %}
    </head>
	<body>
        <!--To Do: 
            - change: active links' classes
            - fix links: for recipes, search recipe
        -->  
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #854442;">
            <a class="navbar-brand ml-3" style="color: rgb(231, 197, 183)" href="{{url_for('home')}}">Ucuz Pişir</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active mx-2">
                        <a class="nav-link" href="{{url_for('home')}}">Ana Sayfa<span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{{url_for('home')}}">Tarifler</a>
                    </li>

                    <li class="nav-item mx-2">
                        <a class="nav-link disabled" href="{{url_for('home')}}">Hakkımızda</a>
                    </li>

                    {% if current_user.is_authenticated %}
                        <li class="nav-item dropdown mx-2">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hesabım
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{{url_for('account')}}">Profil</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{{url_for('logout')}}">Çıkış Yap</a>
                            </div>
                        </li>
                    {% else %}
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{url_for('login')}}">Giriş Yap</a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{{url_for('register')}}">Üye Ol</a>
                        </li>
                    {% endif %}
                </ul>

                <form class="form-inline my-2 my-lg-0 w-50 ml-auto">
                        <input class="form-control mr-sm-2 w-75" type="search" placeholder="Tarif Ara" aria-label="Search">
                        <button class="btn btn-light my-2 my-sm-0" style="background-color: cornsilk" type="submit">Ara</button>
                </form>   
            </div>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flashes mx-0 my-0">
                {% for category, message in messages %}
                    <div class="{{ category }} w-auto text-center" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <main role="main" class="container">
            {% block content %}{% endblock %}
        </main>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>