{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class = "rounded-circle" alt="{{ recipe.title }}" src="{{ image_path }}">
        <div class="media-body w-50">
            <h2 class="article-title ml-2 mb-0">{{ recipe.title }}</h2>
            <div class="article-metadata">
                <a class="mx-3" href="#">{{ author_username }}</a>
                <small class="text-muted">{{ recipe.date_posted.strftime('%d-%m-%Y') }}</small>
                {% if recipe.author_id == current_user.user_id %}
                <div>
                    <a class="btn btn-info btn-sm ml-3 mt-3 mb-1"
                    href="{{ url_for('update_recipe', recipe_id=recipe.recipe_id) }}">
                    Update
                    </a>
                    <button type="button" class="btn btn-danger btn-sm ml-2 mt-3 mb-1"
                    data-toggle="modal" data-target="#deleteModal">
                    Delete
                    </button>
                </div>
                {% endif %}
            </div>
            
            <div class="w-75 ml-3 mt-2 border rounded recipe">
                <div class="recipe-content center m-3">
                    {{ recipe.content}}
                </div>
            </div>
            <table class = "table table-info table-sm table-striped w-75 ml-3">
                <thead>
                    <td colspan="3" class="font-weight-bold w-25 h3 text-center">
                        <div class="text-center">Ingredients</div>
                    </td>
                </thead>
                <tr class = "thead">
                    <th scope="col" class="text-danger font-weight-bold w-25 text-center h5">Name</th>
                    <th scope="col" class="text-danger font-weight-bold w-25 text-center h5">Quantity</th>
                    <th scope="col" class="text-danger font-weight-bold w-25 text-center h5">Unit</th>
                </tr>
                {% for name in ingredientNames %}
                <tr>
                    <td class="text-center">{{ingredientNames[loop.index0]}}</td>
                    <td class="text-center">{{ingredientDatas[loop.index0][2]}}</td>
                    <td class="text-center">({{ingredientDatas[loop.index0][1]}})</td>
                </tr>
                {% endfor %}        
            </table>

        </div>
    </article>
    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Emin misin?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Eğer silersen bir daha bu tarife ulaşamayacaksın.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-dismiss="modal">Vazgeç</button>
                    <form action="{{url_for('delete_recipe', recipe_id=recipe.recipe_id)}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Sil">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}