{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img class = "rounded-circle" alt="{{ recipe.title }}" src="{{ image_path }}">
        <div class="media-body w-50">
            <h2 class="article-title">{{ recipe.title }}</h2>
            <div class="article-metadata">
                <a class="mx-2" href="#">{{ author_username }}</a>
                <small class="text-muted">{{ recipe.date_posted.strftime('%d-%m-%Y') }}</small>
                {% if recipe.author_id == current_user.user_id %}
                    <!--<h1>"logic works."</h1>-->     
                {% endif %}
            </div>
            
            <div class="w-75 ml-3 mt-2 border rounded recipe">
                <div class="recipe-content center m-3">
                    {{ recipe.content}}
                </div>
            </div>
        </div>
    </article>
    <!-- Modal -->
{% endblock content %}