body {
    background-color:white;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
    padding: 10px;
}

.container > .recipe {
    width: 300px;
    height: 200px;
    background-color: #e6e6e6;
    text-align: center;
    align-content: center;
    padding: 15px 0;
    font-size: 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    overflow: hidden;
  }

.container > .recipe:hover {
    background-color: #e6e6e633;
    font-size: 35px;
    font-weight: bold;
}

.recipe:hover > .recipe_img{
    z-index: 2;
    object-fit: cover;
    transform: scale(2);
    transition: 0.5s;
}

.recipe:hover > .recipe_title{
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.705);
    color: whitesmoke;
    text-shadow:
        3px 3px 0 rgba(0, 0, 0, 0.384),
      -1px -1px 0 #000,  
       1px -1px 0 #000,
       -1px 1px 0 #000,
        1px 1px 0 #000;
    position: relative;
    z-index: 1;
}

.banner {
    height: 75px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: 30px;
  }

.recipe > .recipe_title {
    padding-bottom: 10px;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav_bar {
    width: 200px;
    height: auto;
    background-color: whitesmoke;
    z-index: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.5);
}

.banner {
    grid-column: 2 / span 3;
    background-color: #88ddd9;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    display: list-item;
}

li {
    font-family: sans-serif;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 13px;
    text-decoration: none;
    color: #2c7c78;
    font-weight: bold;
}

li a:hover {
    background-color: #4dc9c29a;
    color: #13302e;
}
